<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml%22%3E">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand">Spring Security Demo</p>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}"> HOME </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <div class="starter-template">
        <h1 th:text="${msg.title}"></h1>

        <p class="bg-primary" th:text="${msg.content}"></p>

        <div class="row" th:if="${#request.isUserInRole('ROLE_ADMIN')}">
            <p class="bg-info" th:text="${msg.etraInfo}"></p>
        </div>

        <div class="row" th:if="${#request.isUserInRole('ROLE_ADMIN')}">
            <p>Click <a th:href="@{/admin}">here</a> to ADMIN page.</p><br>
            <p>Click <a th:href="@{/user}">here</a> to USER page.</p>
        </div>

        <div class="row" th:if="${#request.isUserInRole('ROLE_USER')}">
            <h2>This will only be displayed if authenticated user has role USER.</h2>
            Click <a th:href="@{/user}">here</a> to USER page.
        </div>

        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-primary" value="LOGOUT"/>
        </form>
    </div>

</div>

</body>
</html>